{% extends 'base.html' %}
{% block content %}
<style>

    .about-content {
        max-width: 1400px;
        margin: auto;
        padding: 20px;
        text-align: center;
        background-color: #F0F0F0;
        border-radius: 5px;
        font-size: 100%
    }

    .floatingtile {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        background-color: white;
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 1%;
        padding: 3%;
    }

    .tile1 {
        background-color: white;
        margin-bottom: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-style: solid;
        border-width: 3px;
        border-colour: black;
    }

    .tile2 {
        background-color: white;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-style: solid;
        border-width: 3px;
        border-colour: black;
    }

    #aboutpagephoto {
        height: auto;
        width: 30%;
    }

    .tile2pictureplustext {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .stackedtext {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }


</style>
<div class="about-content">
  <div class="floatingtile">
      <div class="tile1">
          <h1>About Us</h1>
          <p>RELAPSE is dedicated to providing sustainable clothing options while staying fashionable. We value quality, affordability, and a greener future.</p>

          <h2>MISSION</h2>
          <p>To create high quality clothing with great value, allowing customers to experience wearing trendsetting clothes</p>

          <h2>VALUES</h2>
          <p>Respecting and Supporting Customers<br> Driving Sustainability<br> Empowering Creativity</p>

          <h2>PRINCIPLES</h2>
          <p>Conduct business in a way that it benefits the WORLD,<br>Pursue excellence and achieve strong results through our products and customers</p>
      </div>
      <br>
      <div class="tile2">
          <div>
              <h2>RELAPSE Innovation</h2>
              <p>RELAPSE has adopted the mission statement, "Addiction to Sustainability".<br>Aiming to give old clothings a NEW LEASE OF LIFE.<br>We belive that old clothing deserves a second chance</p>
          </div>

          <div class="tile2pictureplustext">
              <img src="/static/AboutPageImage.jpg" id="aboutpagephoto">
              <div class="stackedtext">
                  <h2>The 'RE-LAPSE' Program</h2>
                  <p>We offer discounts to customers who REturn old clothes.<br>Partner with REcycling companies to upcycle these garments into new products</p>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}
